
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./home_page/lower_page.css);

@font-face {
  font-family: 'source-serif-pro-SemiboldIt';
  src: url('../assets/fonts/source-serif-pro/SourceSerifPro-SemiboldIt.otf') format('opentype');
}

@font-face {
  font-family: 'source-serif-pro-LightIt';
  src: url('../assets/fonts/source-serif-pro/SourceSerifPro-LightIt.otf') format('opentype');
}

@font-face {
  font-family: 'source-serif-pro-BoldIt';
  src: url('../assets/fonts/source-serif-pro/SourceSerifPro-BoldIt.otf') format('opentype');
}

@font-face {
  font-family: 'source-serif-pro-ExtraLightIt';
  src: url('../assets/fonts/source-serif-pro/SourceSerifPro-ExtraLightIt.otf') format('opentype');
}

@font-face {
  font-family: 'source-serif-pro-It';
  src: url('../assets/fonts/source-serif-pro/SourceSerifPro-It.otf') format('opentype');
}

@font-face {
  font-family: 'source-serif-pro-Regular';
  src: url('../assets/fonts/source-serif-pro/SourceSerifPro-Regular.otf') format('opentype');
}