@media (min-width: 1227px) and (max-height: 1020px){
    #description{
        scale: 0.8;
        z-index: 10;
    }

    #description img{
        translate: 0vw 10vh;
    }
}

@media (min-width: 1227px) and (max-height: 833px){
    #description p{
        width: 300px;
        translate: 24vw 10vh;
        scale: 0.7;
    }

}

@media (min-width: 1227px) and (max-height: 785px){
    #description p{
        translate: 24vw 20vh;
        scale: 0.8;
    }

    #description img{
        translate: 8vw 22vh;
        scale: 0.45;
    }
}

@media (min-width: 1227px) and (max-height: 709px){
    #description p{
        translate: 20vw 30vh;
        scale: 0.7;
    }

    #description img{
        scale: 0.7;
    }
}