.poetry {
  transition: transform 200ms;
}

.carousel_bar {
  transition: transform 200ms;
}

.left_box {
  background: linear-gradient(90deg, #881f63 0%, rgba(85, 61, 103, 0) 100%);
}

.right_box {
  background: linear-gradient(90deg, rgba(85, 61, 103, 0) 0%, #881f63 100%);
}

.arrow_to_left_button {
  transition: transform 200ms;
}

.arrow_to_right_button {
  transition: transform 200ms;
}

.display-linebreak {
  white-space: pre-line;
}

.body_background {
  background: linear-gradient(
    90deg,
    rgba(246, 76, 114, 0.3) 0%,
    rgba(246, 76, 114, 0) 40%,
    rgba(246, 76, 114, 0) 60%,
    rgba(246, 76, 114, 0.3) 100%
  );
}

#blob_slug{
  transition: transform 200ms;
}

.rotate{
  animation: revolve 4s ease-in-out 0s infinite forwards;
}

.link_containing_text_on_circle:hover .rotate {
  animation-play-state: paused;
}

@keyframes revolve {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@media (min-height: 1592px) {
  #poetry_container{
    height: 100%;
  }
}

